body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container{
    display: flex;
    justify-content: space-between;
    background: rgb(37, 37, 37);
}
 
.box-1{
background: rgb(208, 202, 202);
width: 1500px;
}
.box-2{
    margin: 50px 50px;
    color: antiquewhite;
}
.photo{
    border-radius: 50%;
    box-shadow: 1px 1px 50px black;
    margin: 20px 10px 0px 50px;
}
.name{
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 1px;
    text-align: center;
  }
  .JFD{
    margin: 1px 30px 1px 40px;
    letter-spacing: 1px;
    padding: 16px;
  }
  .contacs-1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bolder;
  }
  ul{
    font-size: 20px;

  }

  h2{
    text-align: center;
  }

  .education{
    margin: 50px 50px;
    border: thick double chocolate;
  }

  .code{
    border: thick double chocolate;
    margin: 50px 50px;
  }
  .about_me{
    margin: 50px 50px;
    padding: 15px;
    border: thick double chocolate;
  }

  .skills{
    margin: 50px 50px;
    border: thick double chocolate;
  }

  .launguage{
    margin: 50px 50px;
    border: thick double chocolate;
  }

